html, body, #root {
  height: 100%;
}
.btn-primary {
  background-color: #2563eb;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
}
